@model IEnumerable<MVCExample.Models.Message>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainView.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MessageDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserDetail.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserDetail1.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MessageId }) |
                @Html.ActionLink("Details", "Details", new { id = item.MessageId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MessageId })
            </td>
        </tr>
    }

</table>
